@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #252525;
}

body {
  color: #fff;
  background: var(--background);
}

input{
  color: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
